.iconsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.icon {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 4px;
}

.selectedIcon {
  @extend .icon;
  border-color: green;
}